In [1]:
import sqlite3
import pandas as pd
import os
# os.chdir(os.path.dirname(r"{}".format(str(os.path.abspath(__file__)))))

# Create a SQL connection to our SQLite database
con = sqlite3.connect("DATABASES/project.db")

cur = con.cursor()

In [2]:

# # Return all results of query
# cur.execute('SELECT plot_id FROM plots WHERE plot_type="Control"')
# cur.fetchall()

# Load the data into a DataFrame
regex_df = pd.read_sql_query("SELECT * from classification_1_regex", con)
match_df = pd.read_sql_query("SELECT * from classification_1_psittaciformes_or_no", con)
link_df = pd.read_sql_query("SELECT * from classification_1_reg_map_match", con)
bird_or_no_df = pd.read_sql_query("SELECT * from classification_1_parse_bird_or_no", con)

match_df.index = match_df.id
regex_df.index = regex_df.id

print(match_df.head(10))
print(regex_df.head(10))
# # Write the new DataFrame to a new SQLite table
# surveys2002.to_sql("surveys2002", con, if_exists="replace")

    id      ad_id  match_cites_parrot  match_common_parrot  \
id
1    1  552731_us                   0                    1
2    2  552645_us                   0                    1
3    3  552633_us                   0                    1
4    4  552632_us                   0                    1
5    5  552631_us                   0                    1
6    6  552630_us                   0                    1
7    7  552629_us                   0                    1
8    8  552628_us                   0                    1
9    9  552627_us                   0                    1
10  10  552626_us                   0                    1

                         mapping_match
id
1       10;125;270;271;272;278;298;332
2       10;125;270;271;272;278;298;332
3                   10;115;128;278;355
4             8;10;105;115;165;278;355
5                              181;355
6                       10;115;278;355
7        10;83;125;271;272;278;298;308
8                      125;271;272;298
9   10;125;128;271;272;278;298;308;311
10                          10;278;355
    id                                                reg        word
id
1    1  (p+|P+){1}(s+|S+|5+){1}(i+|I+|1+){1}(t+|T+|7+)...   Psittacus
2    2  (à+|á+|a+|A+|4+){1}(r+|R+){1}(à+|á+|a+|A+|4+){...  arausiacus
3    3  (à+|á+|a+|A+|4+){1}(m+|M+){1}(à+|á+|a+|A+|4+){...     Amazone
4    4  (b+|B+){1}(o+|O+|0+){1}(u+|U+){1}(q+|Q+){1}(u+...     Bouquet
5    5               (c+|C+|ç+){1}(o+|O+|0+){1}(u+|U+){1}         cou
6    6  (r+|R+){1}(o+|O+|0+){1}(u+|U+){1}(g+|G+){1}(è+...       rouge
7    7  (r+|R+){1}(è+|é+|e+|E+|3+){1}(d+|D+){1}(-+|\s+...  Red-necked
8    8  (à+|á+|a+|A+|4+){1}(m+|M+){1}(à+|á+|a+|A+|4+){...      Amazon
9    9  (j+|J+){1}(à+|á+|a+|A+|4+){1}(c+|C+|ç+){1}(q+|...     Jacquot
10  10  (p+|P+){1}(à+|á+|a+|A+|4+){1}(r+|R+){1}(r+|R+)...      Parrot

In [3]:
match_df["word"]=match_df["mapping_match"]\
    .apply(lambda x : ";".join([regex_df.at[int(_),"word"] for _ in x.split(";") if (len(x)>0)]))

In [4]:
words_df=match_df["word"].str.get_dummies(sep=";").add_prefix("word_")
words_df

,word_(amazona),word_African,word_Amazon,word_Amazona,word_Amazone,word_Ara,word_Aratinga,word_Azul,word_Black-cheeked,word_Black-collared,...,word_petit,word_raja,word_red-faced,word_rouge,word_southern,word_tête,word_verde,word_versicolor,word_vert,word_yaco
id,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25942,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25944,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25945,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25946,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
words_df=match_df[["id","ad_id"]].join(words_df)
words_df.reset_index(drop=True, inplace=True)

In [6]:
words_df.to_sql("classification_1_analysis", con, if_exists="replace")

In [7]:
# Be sure to close the connection
con.close()